body {background-color: #8aa35c;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
        padding: 0; 
        color: #050316;}
 #wrapper {
  background-color: #263b4a;
  max-width: 1200px;
  margin:0 auto;
 }
     

header {background-color: #263b4a;
        text-align: center;
        color: #f9f6ec;
        border-bottom: 4px solid #1b2730;
        min-height:100px;
        padding: 10px 0;
        overflow:hidden;
        box-sizing: border-box;
      
}

  h1{
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.875em;
      margin-left: auto;
        margin-right: auto;
        display:block;
     }
   .nav-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        background-color: #9f6012;
        border-bottom: 4px solid #1b2730;
        padding: 10px 0;  
      }          
          
.navimage {
        display:inline-block;
        width: 150px;
        height: 80px;
        line-height: 80px;
        background-image: url(navimage.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color:#9f6012;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.125em;    
        }               
#homehero{
      height: 600px;
      width: 100%;
      background-image: url(heroimage.jpg);
      background-size: cover;
      background-position: center;
      background-repeat:no-repeat;
      position:relative;
      margin-top:20px;
      margin-bottom:20px;
      overflow:hidden;
      border-radius:15px;
}
#hero-text{
      color:#f9f6ec;
      background-color:#1b2730;
      padding:20px;
      border-radius:10px;
      margin-bottom:20px;
      }
 main {padding: 20px;
       background-color: #9f6012;
       min-height: 200px;
       box-sizing: border-box;
       }

  h2 {color: #f9f6ec;
      font-size: 1.5em;
      }

  p {font-size: 1em;
     line-height: 1.5;
     margin-bottom: 15px;
     }
footer {background-color: #4a6122;
        color:#f9f6ec;
        text-align: center;
        padding: 10px 0;
        font-size: .875em;
        border-top: 4px solid #374217;
        clear: both;
        position: relative;
        bottom: 0;
        width: 100%;}   

        @media screen and (max-width: 768px) {
            #homehero {
                height: 300px;
                margin-top:10px;
                margin-bottom:10px;
            }
            header {
                  min-height: auto  
            }
            h1 {
                  font-size: 1.5em;
                  line-height: normal;
                  padding: 15px 10px;
            }
            .nav-container {
                  flex-direction: column;
                  padding: 5px 0; 
            }
            .navimage {
                  width: 80%;
                  margin: 5px 0;
                  height: 50px;
                  line-height: 50px;         
            }
      }

