body {background-color: #8aa35c;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
        padding: 0; 
        color: #050316;
      background-image: url(restorationhero1r.jpg);
      background-size: cover;
      background-position: center;
      background-attachment: fixed;
      background-color: #8aa35c;
}
 #wrapper {
  background-color: rgba(38, 59, 74, 0.8) #263b4a;
  max-width: 1200px;
  margin:0 auto;}

  video{max-width:  600px;width:100%;height:auto;
        display:block;
        margin:20px auto;}

header {background-color: #263b4a;
        text-align: center;
        color: #f9f6ec;
        border-bottom: 4px solid #1b2730;
        min-height:100px;
        padding: 10px 0;
        overflow:hidden;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
      
}

  h1{
      line-height: 1.2;
      margin-top: 0;
      margin-bottom: 0;
      margin:0;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.875em;
      margin-left: auto;
        margin-right: auto;
        display:block;
     }
   .nav-container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width:100%;
        background-color: #9f6012;
        border-bottom: 4px solid #1b2730;
        padding: 10px 0;  
      }          
          
.navimage {
        display:inline-block;
        width: 150px;
        height: 80px;
        line-height: 80px;
        background-image: url(navimage.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color:#9f6012;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 1.125em; 
        margin:0;   
        }    
               #image-container{width:100%;}   
 .gallery {display:flex;
            flex-wrap: wrap;
            justify-content: space-around;
            width:70%;margin:auto;}   
.gallery figure img {width:100%;
                     height:100%;
                     object-fit:cover;
                     transition:all ease-out 3s;}  

figure.portrait{ width:200px;
                height:300px;
                margin: 1em;
                flex-shrink: 0;
                }

            
figure {          width: 300px; height: 200px;
                  overflow: hidden;
                  position: relative; z-index: 1;
                  opacity:1; margin: 1em;
                  background-color:#1b2730;
                  color:#f9f6ec;
                  font-size: .5em;text-align:center;
                  transition: all ease-out 3s;
                  flex-shrink: 0;}
.gallery-intro {  width: 70%;
                  margin: 0 auto;
                  margin-bottom: 20px;
                  }                 

                
.gallery figcaption{    position:absolute;
                        bottom: 0;
                        left:0;
                        right:0;
                        width: 100%;
                        padding: 5px 0;
                        background-color: rgba(27,39,48,0.75);
                        font-size: 0.8em;
                        text-align: center;
                        color: #FFFFFF;}  

figure:hover {    opacity:1; z-index: 999;
                  box-shadow: 3px 3px 3px #050316;
                  transform:scale(3);
                  }

               
#columns-container {display:grid; grid-template-columns: repeat(4, 1fr); gap: 20px; padding: 20px;
}
.column {padding: 15px;
         border: 1px solid #050316;
      background-color: #f9f6ec;
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
 }
 .column h2 {color:#7d4d0f;
              border-bottom: 2px solid #b7834a;
              padding-bottom: 5px;
              margin-top: 0;
            }
               
#homehero{
      height: 600px;
      width: 100%;
      background-image: url(heroimage.jpg);
      background-size: cover;
      background-position: center;
      background-repeat:no-repeat;
      position:relative;
      margin-top:20px;
      margin-bottom:20px;
      overflow:hidden;
      border-radius:15px;
}
#hero-text{
      color:#f9f6ec;
      background-color:#1b2730;
      padding:20px;
      border-radius:10px;
      margin: bottom 0;
      }

  
      #restoration-image{
            display:block;
            height: 300px;
            width: 100%;
            object-fit:cover;
            object-position:center;
            
            margin-top:20px;
            margin-bottom:20px;
            overflow:hidden;
            border: radius 15px;
      }
      .float-left{float:left;
      width:100px;
      margin-right:10px;
      border: 1px solid #7d4d0f 
}
.float-right{float:right;
            width:120px;
      margin-left:10px;
      border: 1px solid #7d4d0f;
}
form{max-width: 800px;
     margin:40px auto;
     padding:20px;
     color: #050316;
     background-color: rgba(255, 255, 255, 0.9); 
     border-radius: 8px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%; 
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box; 

}
form label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}
form input[type="submit"], 
form input[type="reset"] {
    padding: 10px 20px;
    margin-right: 10px;
}
h2 {
    text-align: center; 
    max-width: 800px; 
    margin: 20px auto 10px auto;
}
main {padding: 20px;
       background-color: rgba(159 96 18 0.9) #9f6012;
       min-height: 200px;
       box-sizing: border-box;
       }
 main table {
            width:70%;
            margin: 0 auto;
            border-collapse: collapse;
            color: #f9f6ec;}
main table caption {
      font-size:1.25em;
      font-weight: bold;
      text-align: center;
      margin-bottom: 0;
      color: #f9f6ec;
      background-color: #1b2730;
      padding:10px 0;
}
main thead th {
      background-color: #7d4d0f;
      color: #f9f6ec;
      padding: 12px 15px;
      text-align: left;
      font-weight: bold;
      border: 1px solid #1b2730;
      }

main td { 
      padding: 10px 15px;
      border-bottom: 1px solid #b7834a;
      color: #050316;
      word-wrap: break-word;
      max-width: 0;
}

main tbody tr:nth-child(odd) {
      background-color: #f9f6ec;
}

main tbody tr:nth-child(even) {
      background-color: #8aa35c;
}

main tbody tr:hover {
      background-color: #7d4d0f;
      color:#f9f6ec;
      cursor: pointer;
}
  h2 {color: #f9f6ec;
      font-size: 1.5em;
      background-color: #1b2730;
      margin-top: 0;
      margin-bottom: 0;
      padding: 15px;
      }

  p {font-size: 1em;
     line-height: 1.5;
     color:#f9f6ec;
     margin-top: 0;
     margin-bottom: 15px;
     background-color:#1b2730;
     padding: 15px;
     }
footer {background-color: #4a6122;
        color:#f9f6ec;
        text-align: center;
        padding: 10px 0;
        font-size: .875em;
        border-top: 4px solid #374217;
        clear: both;
        position: relative;
        bottom: 0;
        width: 100%;
}
.photo_gallery {background-image:none;
                background-color:#b7834a;}
.contact-page {background-image:none;
               background-color:#263b4a;
               color:#f9f6ec;}
        @media screen and (max-width: 768px){
            #homehero {
                height: 300px;
                margin-top:10px;
                margin-bottom:10px;
            }
            header {
                  min-height: auto  
            }
            h1 {
                  font-size: 1.5em;
                  line-height: normal;
                  padding: 15px 10px;
            }
            .nav-container {
                  flex-direction: column;
                  padding: 5px 0; 
            }
            .navimage {
                  width: 80%;
                  margin: 5px 0;
                  height: 50px;
                  line-height: 50px;         
            }
            #columns-container { grid-template-columns: repeat(2, 1fr);
            }
      main table { width: 100%;
                   display:block;
                   border: none;}
                   
      main thead {display: none;}
      main tbody {display: block;}
      main tr{ display:block;
               margin-bottom: 15px;
               border: 1px solid #1b2730;
               border-radius:5px;}
      main td{ display:block;
               text-align: right;
               border: none;
               padding: 10px;
               position: relative;
               padding-left: 50%;
               color: #050316;}   
      main td:before {content: attr(data-label);
                      position:absolute;
                      left:10px;
                      width: calc(50%-20px);
                      padding-right:10px;
                      white-space: nowrap;
                      text-align: left;
                      font-weight:bold;
                      color:#7d4d0f;   }

      #columns-container{
            grid-template-columns: 1fr;
      }
     }
